@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}


/* Animation Box */
.animate-box {
  animation: fillBackground 1s linear;
}

@keyframes fillBackground {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


.slick-prev {
  left: 0% !important;
}

.slick-next {
  right: 0% !important;
}

@media screen and (max-width: 768px) {
  .slick-prev {
    left: -2% !important;
  }

  .slick-next {
    right: -2% !important;
  }
}